.header{
    background-color: #248b8df5 !important;
    border: 2px solid rgb(152, 190, 197);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    color: aliceblue;
    font-size: medium;
}

Button:hover{
    background-color: rgb(206, 154, 154) !important; 

}

Button{
    background-color: rgb(233, 97, 97) !important; 
}

.modal-body{

    /* width: 100% !important;
    height: 100% !important; */
    /* padding: 60%; */
    margin: 0;

    /* border: 2px solid black; */

}
.map{
    display: flex !important;
    width: 104% !important;
    height:20 !important ;
}