.place-form {
    list-style: none;
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: white;
  }
  button{
    padding: 11px !important;
    background-color: brown !important;
    border-radius: 5px;
  }

  .share-card{
    padding: 0 4rem !important;
     background-color: #d4e0f869 !important;
   border-radius: 20px !important;
   box-shadow: 10px 10px 20px 10px #656f83c7 !important;
   }