
.card{
    padding: 3rem;
    flex-direction: column;
    justify-content: space-between;

}
.auth{
    border: 2px solid red;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-sizing: border-box;

}

/* .place-form {
        margin: 0 auto;
    padding: 1rem;
    width: 100%;
    max-width: 40rem;
 
  }
  */
  .authentication{
    padding: 3rem !important ;

  }
  .btn{
    background: #4e0a4e;
  }
.input{
    width: 100 !important;
    padding: 1rem !important;
    color: blueviolet !important;
    background-color: rgb(228, 179, 233) !important;
    border: 2px solid rgb(245, 133, 245) !important;
    margin-top: 3rem !important;
}
.input:focus,
.input:hover{
    border: 2px solid rgb(146, 44, 146);

}
.LogIn{
    margin-top: 1rem;
    padding: 0.8rem 2rem 0.8rem 2rem !important;
    background-color: rgba(209, 0, 209, 0.596) !important;
}

h1{
    text-align: center;
    font-size: medium;
    font-weight: bold;
    color: rgba(105, 51, 105, 0.904);
}