.button {
    font: inherit;
    /* padding: 0.3rem 1rem; */
    border: 1px solid #8822cc;
    border-radius: 10px;
    background: #9c22b48f;
    color: white;
    cursor: pointer;
    padding: 10px 15px; 
    margin-right: 1rem;
    text-decoration: none;
    display: inline-block;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:hover,
  .button:active {
    background: #a121a191;
    border-color: #81259485;
  }
  
  .button--inverse {
    background: transparent;
    color: #ff0055;
  }
  
  .button--inverse:hover,
  .button--inverse:active {
    color: rgb(242, 204, 243);
    background: #b97cf3;
  }
  
  .button--danger {
    background: #830000;
    border-color: #830000;
  }
  
  .button--danger:hover,
  .button--danger:active {
    background: #f34343;
    border-color: #f34343;
  }
  
  .button:disabled,
  .button:hover:disabled,
  .button:active:disabled {
    background: #ccc;
    color: #e2dddd;
    border-color: #ccc;
    cursor: not-allowed;
  }
  .button--default{
    font-size: 0.9rem;
  }
  .button--small {
    font-size: 0.3rem;
  }
  
  .button--big {
    font-size: 0.6rem;
  }