.place-list {
  list-style: none;
  margin: 4rem auto;
  padding: 0;
  width: 90%;
  max-width: 40rem;
}

.share-card{
 padding: 0 4rem !important;
  background-color: #d4e0f869 !important;
border-radius: 20px !important;
box-shadow: 10px 10px 20px 10px #656f83c7 !important;
}
.image{
  width: "80%" !important;
  border: 2px solid black !important;
}

img{
  width: 100 !important;
  height: 30 !important;
}